<!doctype html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>404 Error</title>
    <style>
	   body { 
		   background-color: #efefef; 
		   color: #333; 
		   font-family: Georgia,Palatino,'Book Antiqua',serif;
		   padding:0;
		   margin:0;
		   text-align:center;
		}
	
		label { font-style:italic;}
		
		img { border:none; }
		
		div.dialog {
	  		width: 490px;
	  		margin: 4em auto 0 auto;
		}
    </style>    
</head>

<body>
	<div class="dialog">
    	<label>OOPS!!! Page not Found!!!</label>
    	<img src="/static/images/404error.png" />
    	<p>404 Error</p>
    	<label>It looks like that page you were looking has been mislaid,sorry.</label>
  	</div>
</body>
</html>








