<!doctype html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>500 Error</title>
    <style>
	   body { 
		   background-color: #efefef; 
		   color: #333; 
		   font-family: Georgia,Palatino,'Book Antiqua',serif;
		   padding:0;
		   margin:0;
		   text-align:center;
		}
	
		label { font-style:italic;}
		
		img { border:none; }
		
		div.dialog {
	  		width: 490px;
	  		margin: 4em auto 0 auto;
		}
    </style>    
</head>

<body>
	<div class="dialog">
    	<label>OOPS!!! Internal error !!!</label>
    	<img src="/static/images/500error.jpeg" />
    	<p>500 Error</p>
    	<label>The server has failed to process this request. We are looking this.</label>
  	</div>
</body>
</html>








