{% extends "layout.html" %}

{% block head %}
	<link rel="stylesheet" href="/static/stylesheets/layout1.css" type="text/css" media="screen, projection" />
{% endblock %}

{% block center_panel_content %}
<div align="left" id="stats">
	<ul>
		<li><a><label>{{registered_users}}</label>  Registered users</a></li>
		<li><a><label>{{translated_sentences}}</label>  Sentences translated</a></li>
		<li><a><label>{{published_articles}}</label>  Articles translated</a></li>
	</ul>	
</div>
{% if messages %}
	<div align="center">
	  	<ul class="messages">
	  		{% for message in messages %}
	   			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
					{% autoescape off %}
						{{ message }}
					{% endautoescape %} 
		      	</li>
		     {% endfor %}
		</ul>
	</div>
{% endif %}

{% block other_content %} {% endblock %}
{% endblock %}
 
{% block right_panel_content %}
<div id="right_panel">
				<table class="overall_leaderboard_table">
					<caption>Overall Leaderboard</caption>
					<tbody>
						{% for i in overall_leaderboard %}
						<tr>
							<td>{{i.id}}</td>
							<td>{{i.username}}</td>
							<td>{{i.overall_points_earned}}</td>
						</tr>
						{% endfor %}
			
					</tbody>
				</table>
				</br>
				<table class="weekly_leaderboard_table">
					
					<caption>Weekly Leaderboard</caption>
					<tbody>
						{% for i in weekly_leaderboard%}
						<tr>
							<td>{{i.rank}}</td>
							<td>{{i.username}}</td>
							<td>{{i.points_earned_this_week}}</td>
						</tr>
						{% endfor %}
						
					</tbody>
				</table>
</div>
{% endblock %}
