{% load adminmedia %}
{% load feedback_widget %}
<!doctype html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>{% block title %}Bhagirath-Knowledge knows no language{% endblock %}</title>
    <link rel="stylesheet" href="/static/stylesheets/aboutUs.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="/static/stylesheets/account_settings.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="/static/stylesheets/account.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="/static/stylesheets/home.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="/static/stylesheets/keyboard.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/static/stylesheets/layout.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="/static/stylesheets/layout1.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="/static/stylesheets/sample_translation.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="/static/stylesheets/signup.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/static/stylesheets/translate.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="/static/stylesheets/upload.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="/static/admin/css/widgets.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="/static/stylesheets/django-admin-widgets.css" type="text/css" media="screen, projection" />
	<link type="text/css" rel="stylesheet" href="/static/stylesheets/ui-autocomplete.css" />
	
	<script type="text/javascript" src="/static/scripts/autocomplete.js"></script>
	<script type="text/javascript" src="/static/scripts/ui-autocomplete.js"></script> 
    <script src="/static/scripts/animate.js" type="text/javascript"></script>
    <script src="/static/scripts/keyboard.js" type="text/javascript"></script>
	<script src="/static/scripts/jquery-one.js" type="text/javascript"></script>
	<script src="/static/scripts/jquery-selection.js" type="text/javascript"></script>
	<script src="/static/scripts/django-admin.multiselect.js" type="text/javascript"></script>
	
	<script type="text/javascript" src="/my_admin/jsi18n/"></script>
	<script type="text/javascript" src="/static/admin/js/core.js"></script>

	<link rel="stylesheet" type="text/css" href="/static/stylesheets/feedback.css" />
	<script type="text/javascript" src="/static/scripts/feedback.js"></script>

	<script type="text/javascript">
		window.__admin_media_prefix__ = "{% filter escapejs %} {% admin_media_prefix %} {% endfilter %}";
	</script>
	<script type="text/javascript" src="/{% admin_media_prefix %}/js/calendar.js"></script>
	<script type="text/javascript" src="/{% admin_media_prefix %}/js/admin/DateTimeShortcuts.js"></script>
	
	{{ form.media }}
	<!-- CODE FOR GOOGLE ANALYTICS -->
	<script type="text/javascript">
	
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-29452057-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>



	{%block head %}{% endblock %}
</head>
{% block script %}{% endblock %}
<body>


<div id="gasket">
<div id="header">
{% block status_message %}<p class="account">Already have an account? <a href="/home/">Sign in</a></p>{% endblock %}
<h1>Bhagiratha<font size=4>.....Knowledge knows no language</font></h1>

{% block menu %}
<ul>
<li title="Home"><a href="/home/">Home</a></li>
<li title="Create an account"><a href="/sign_up/">SignUp</a></li>
<li title="Read about us"><a href="/about_us/">About Us</a></li>
</ul>
{% endblock %}
</div>
<div id="content">
<table>
<tr>
<td align="top">
<div id="center_panel">
{% block center_panel_content %}
{% if messages %}
<div align="center">
<ul class="messages">
{% for message in messages %}
<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
{% autoescape off %}
{{ message }}
{% endautoescape %}
</li>
{% endfor %}
</ul>
</div>
{% endif %}
{% block center_panel_other_content %}{% endblock %}
{% endblock %}
</div>
</td>
<td>
{% block right_panel_content %}{% endblock %}
{% feedback_widget %}

</td>
</tr>
</table>
</div>


<div id="news">
<div class="news_space">
     <table width="100%" cellspacing="0" cellpadding="3" border="0">
         <tbody><tr>
             <td width="24%" class="co_b">Latest @ Bhagiratha: </td>
                 <td><span><marquee behavior="scroll" direction="left" loop="-0" scrolldelay="2" scrollamount="3" onmouseout="this.start()" onmouseover="this.stop()">
                        Bring world's knowledge to India.......HELP TRANSLATE!!!
                 </marquee></span></td>
             </tr></tbody>
         </table>
     </div>
</div>
</div>
</body>
</html>
