{% load adminmedia %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>{% block title %}Bhagiratha-Knowledge knows no language{% endblock %}</title>
    
	<link rel="stylesheet" href="/static/stylesheets/layout.css" type="text/css" media="screen, projection" />
	<script type="text/javascript" src="/my_admin/jsi18n/"></script>

	<script type="text/javascript">
		window.__admin_media_prefix__ = "{% filter escapejs %} {% admin_media_prefix %} {% endfilter %}";
	</script>
	
	<link rel="stylesheet" href="{% admin_media_prefix %}css/widgets.css" type="text/css" media="screen, projection" />	
	<script type="text/javascript" src="{% admin_media_prefix %}js/core.js"></script>
	<script type="text/javascript" src="{% admin_media_prefix %}js/calendar.js"></script>
	<script type="text/javascript" src="{% admin_media_prefix %}js/admin/DateTimeShortcuts.js"></script>
	
	{{ form.media }}
	
	{%block head %}{% endblock %}
</head>
{% block script %}{% endblock %}

<body>
	<div id="gasket">
		<div id="header">
			{% block status_message %}<p class="account">Already have an account? <a href="/sign_in/">Sign in</a></p>{% endblock %}
	
			{% block menu %}
				<ul>
					<li title="Home"><a href="/home/">Home</a></li>
					<li title="Read about us"><a href="/about_us/">About Us</a></li>
					<li title="Contact Us"><a href="/contact_us/">Contact Us</a></li>
					<li title="Create an account"><a href="/sign_up/">SignUp</a></li>
					<li title="Blog"><a href="/home/">Blog</a></li>
				</ul>
			{% endblock %}
		</div>
		<div id="content">
			<table>
				<tr>
					<td align="top">
						<div id="center_panel">
							{% block center_panel_content %}
								{% if messages %}
									<div align="center">
										<ul class="messages">
										{% for message in messages %}
											<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
											{% autoescape off %}
											{{ message }}
											{% endautoescape %}
											</li>
										{% endfor %}
										</ul>
									</div>
								{% endif %}
								{% block center_panel_other_content %}{% endblock %}
							{% endblock %}
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</body>

<!-- CODE FOR GOOGLE ANALYTICS STARTS HERE-->
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-29452057-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
<!-- CODE FOR GOOGLE ANALYTICS ENDS HERE-->

<!-- CODE FOR BROWSER DETECTION STARTS HERE-->
	<script type="text/javascript">
		var BrowserDetect = {
			init: function () {
				this.browser = this.searchString(this.dataBrowser) || "An unknown browser";
				this.version = this.searchVersion(navigator.userAgent)
					|| this.searchVersion(navigator.appVersion)
					|| "an unknown version";
				this.OS = this.searchString(this.dataOS) || "an unknown OS";
			},
			searchString: function (data) {
				for (var i=0;i<data.length;i++)	{
					var dataString = data[i].string;
					var dataProp = data[i].prop;
					this.versionSearchString = data[i].versionSearch || data[i].identity;
					if (dataString) {
						if (dataString.indexOf(data[i].subString) != -1)
							return data[i].identity;
					}
					else if (dataProp)
						return data[i].identity;
				}
			},
			searchVersion: function (dataString) {
				var index = dataString.indexOf(this.versionSearchString);
				if (index == -1) return;
				return parseFloat(dataString.substring(index+this.versionSearchString.length+1));
			},
			dataBrowser: [
				{
					string: navigator.userAgent,
					subString: "Chrome",
					identity: "Chrome"
				},
				{ 	string: navigator.userAgent,
					subString: "OmniWeb",
					versionSearch: "OmniWeb/",
					identity: "OmniWeb"
				},
				{
					string: navigator.vendor,
					subString: "Apple",
					identity: "Safari",
					versionSearch: "Version"
				},
				{
					prop: window.opera,
					identity: "Opera",
					versionSearch: "Version"
				},
				{
					string: navigator.vendor,
					subString: "iCab",
					identity: "iCab"
				},
				{
					string: navigator.vendor,
					subString: "KDE",
					identity: "Konqueror"
				},
				{
					string: navigator.userAgent,
					subString: "Firefox",
					identity: "Firefox"
				},
				{
					string: navigator.vendor,
					subString: "Camino",
					identity: "Camino"
				},
				{		// for newer Netscapes (6+)
					string: navigator.userAgent,
					subString: "Netscape",
					identity: "Netscape"
				},
				{
					string: navigator.userAgent,
					subString: "MSIE",
					identity: "Explorer",
					versionSearch: "MSIE"
				},
				{
					string: navigator.userAgent,
					subString: "Gecko",
					identity: "Mozilla",
					versionSearch: "rv"
				},
				{ 		// for older Netscapes (4-)
					string: navigator.userAgent,
					subString: "Mozilla",
					identity: "Netscape",
					versionSearch: "Mozilla"
				}
			],
			dataOS : [
				{
					string: navigator.platform,
					subString: "Win",
					identity: "Windows"
				},
				{
					string: navigator.platform,
					subString: "Mac",
					identity: "Mac"
				},
				{
					   string: navigator.userAgent,
					   subString: "iPhone",
					   identity: "iPhone/iPod"
			    },
				{
					string: navigator.platform,
					subString: "Linux",
					identity: "Linux"
				}
			]
		};
		BrowserDetect.init();
	</script>
	
	<script type="text/javascript">
		$(document).ready(function() {
			if (BrowserDetect.browser == "Firefox" || BrowserDetect.browser == "Chrome") {
			
			}
			else {
				alert('You\'re using ' + BrowserDetect.browser + ' ' + BrowserDetect.version + ' on ' + BrowserDetect.OS + '! ' + '\n' + 'For better results use Firefox or Chrome.');
			}	
		});
	</script>	
<!-- CODE FOR BROWSER DETECTION ENDS HERE-->
</html>
