.about {
	float: left;
	margin-left: 20px;
	margin-top: 10px;
	width: 660px;
	background:#FDF7EF;
}

.about .heading {
	margin-left: 10px;
	font-weight:bold;
	font-size:18px;
	font-family:times,sans-serif;
	color:#660033;
}

.about .info {
	margin-left: 5px;
	font-size:12px;
	font-family:verdana,sans-serif;
}

.about .stats {
	margin-left: 5px;
	font-size:12px;
	color:#660033;
	font-family:sans-serif;
}

