#content {
	height:1450px;
}

.about {
	float: left;
	margin-top: 10px;
	width: 940px;
	padding-left:20px;
	padding-right:20px;
}

.about .heading {
	padding-bottom: 10px;
	font-weight: normal;
	font-size: 25px;
	color:#404040;
}

.about .info {
	color:#404040;
	font-size:18px;
}

.about .name {
	color:#990099;
	font-size:20px;
}

