#account .acc {
	float: left;
	margin-top: 10px;
	margin-left: 20px;
	width: 660px;
}

#account .acc .heading {
	font-weight:bold;
	font-size:20px;
	font-family:times,sans-serif;
	color:#404040;
}

#account .acc .stats {
	font-size:15px;
	color:#3e3535;
	font-family:sans-serif;
}


