.home {
	float: left;
	margin-left: 20px;
	margin-top: 10px;
	width: 420px;
	height:235px;
	background:#FDF7EF;
}

.home .heading {
	margin-left: 5px;
	color:#660033;
}

.home .info {
	margin-left: 5px;
	font-size:12px;
	font-family:verdana,sans-serif;
}

.home .headinfo {
	margin-left: 5px;
	color:#660033;
}

.home .stats {
	font-size:12px;
	color:#660033;
	font-family:sans-serif;
}
#signin .sign_in {
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	width: 245px;
	background:#FDF7EF;
}

#signin .sign_in h2 {
	padding: 12px 0 10px 20px;;
	font-weight: bold;
	font-size: .80em;
	color:#282828;
	background:#D8D8D8;
	text-shadow: #e9fdfa 0 1px 1px;
}

button.signin{
    color: #245194;
    font-variant: small-caps;
    font-size: 0.8em;
    background-color: #BFBFBF;
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    position:relative;
    left:5px;
}

button.signin:hover{
    color: #245194;
    font-variant: small-caps;
    font-size: 0.8em;
    background-color: #33CCFF;
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
}


