#content{
	height:600px;
}

.home {
	float: left;
	margin-top: 10px;
}

.home .info {
	color: #ffffff;
}

.home .info a {
	color: #0033ff;
}

.home td {
	padding-left:10px;
}

#signin .sign_in {
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}

#signin .sign_in h2 {
	padding-bottom: 10px;
	font-weight: normal;
	font-size: 25px;
	color:#595959;
}

button.signin{
    color: #ffffff;
    font-size: 1em;
    background-color: #576272;
    font-weight: bold;
    cursor: pointer;
    position:relative;
    left:5px;
}

table.overall_leaderboard_table{
   border: 1;
    color: #595959;
    width:250px;
}

.overall_leaderboard_table caption {
	color:#595959;
}
.overall_leaderboard_table th{
    padding: 0.2em;
    font-size:18px;
}

.overall_leaderboard_table td {
    border: 1px #AAAAAA;
    padding: 0.2em;
    font-size:15px;
}


