.awDiv
{
  background-color:#CCCCCC;
  color:#000033;
  margin-left:5px;
  font-size:10pt;

}
.awSpan2
{
  margin-left:20px;
  width:40px;
  font-weight: bold;
}

.awSpan1
{
  margin-left:20px;
  width:20px;
  font-weight: bold;
}
