body {
	background-color:#ffffff; 
	font-family:Tahoma,Arial,Helvetica,sans-serif;
	color:#404040;
	font-size:18px;
}

#gasket {
	position: relative;
	left:50px;
	background-image:url(../images/header.jpeg); 
	margin: 0 auto;
	padding: 0;
	width: 1100px;	
}

#header {
	background-image:url(../images/header.jpeg); 
	clear: both;
	float: left;
	position: relative;
	width: 970px;
	height:100px;
        border-bottom: 1px solid #E5E5E5;
	left:3px;
}

#header p.account {
    color: #000000;
    font-size: 0.9em;
    text-align: right;
}

#header p.account a {
    color: #990099;
    text-decoration: none;
    margin-right:15px;
    margin-top:15px;
}

#header ul {
	bottom: 0px;
	right: 6px;
	position: absolute;
	list-style-type:none;
}

#header ul li {
	 float: left;
	 margin: 0 0 0 3px;
}

#header ul li a { 
        color:#0033ff;
        display: block;
        float: left;
        font-size: 16px;
        height: 5px;
        padding: 13px 5px 0;
	text-decoration:none;
}
#header ul li a.active {
	color:#000000;
}

#center_panel {
	float: left;
	clear: both;
	width: 970px;
	height:480px;
}

#content{
	background-image:url(../images/back.jpg); 
	position: absolute;
	top: 113px;
	left: 3px;
	width: 970px;
	height:1600px;
}

#content .messages .debug{
	float: center;
	list-style-type:none;
	width: 550px;
	font-size:17px;
	color: #d00000;
	font-variant:small-caps;
}

#content .messages .info{
	float: center;
	list-style-type:none;
	width: 550px;
	font-size:17px;
	color: #006633;
	font-variant:small-caps;
}

#content .messages .warning{
	float: center;
	list-style-type:none;
	width: 550px;
	font-size:17px;
	color: #d00000;
	font-variant:small-caps;
}

#content .messages .error{
	float: center;
	list-style-type:none;
	width: 550px;
	font-size:17px;
	color: #d00000;
	font-variant:small-caps;
}


#content .messages .success{
	float: center;
	font-variant:small-caps;
	list-style-type:none;
	width: 550px;
	font-size:17px;
	color: #006633;

	text-align:center;
	
}

