#stats ul {
	float: left;
	clear: both;
	width: 690px;
	margin: 10px 3px 3px 10px;
	background: #FFD1B2;
	list-style-type:none;
	padding:0px;
}

#stats ul li {
	float: left;
	border-right:1px #804833;
}

#stats ul li a {
	float: left;
	display: block;
	padding: 14px 20px 11px 20px;
	border-right: solid 1px #FFC299;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	font-family: Comic Sans MS;
	font-size: .75em;
	color: #804833;
	text-shadow: #dbefed 0 1px 1px;
}

#stats ul li a label{
	color: #660033;
}
#stats ul li.active a {
	color: #804833;
	text-shadow: #f6e899 0 1px 1px;
}

#stats ul li .term { 
	float:right;
}


element.style {
    font-family: monospace;
}

table.overall_leaderboard_table{
    border-collapse: collapse;
    color: black;
    width:250px;
   
    background-color:#FAF5FF;
}

.overall_leaderboard_table caption {
	background-color:#F5EBFF;
	color:#664C80;
}
.overall_leaderboard_table th{
    border: 1px #AAAAAA;
    padding: 0.2em;
    font-size:13px;
   
}

.overall_leaderboard_table td {
    border: 1px #AAAAAA;
    padding: 0.2em;
    font-size:13px;
    
}

table.weekly_leaderboard_table{
    border-collapse: collapse;
    color: black;
    width:250px;
    
}

.weekly_leaderboard_table caption {
	background-color:#F5EBFF;
	color:#664C80;
}
.weekly_leaderboard_table th{
    border: 1px #AAAAAA;
    padding: 0.2em;
    font-size:13px;
}

.weekly_leaderboard_table td {
    border: 1px #AAAAAA;
    padding: 0.2em;
    font-size:13px;
}
