body {
	background-image:url(../images/back.jpg); 
	font-family:Tahoma,Arial,Helvetica,sans-serif;
}

#gasket {
	position: relative;
	left:50px;
	margin: 0 auto;
	padding: 0;
	width: 1100px;	
}

#header {
	clear: both;
	float: left;
	position: relative;
	width: 970px;
    	background: #C2EBFF;
        border-bottom: 1px solid #E5E5E5;
	border-radius: 20px 20px 0 0;
	left:3px;
}

#header p.account {
    color: #000000;
    font-size: 0.9em;
    text-align: right;
}

#header p.account a {
    color: #FF4500;
    text-decoration: none;
    margin-right:15px;
    margin-top:15px;
}

#header h1 {
    color:#000047;
    height: 35px;
    width: 544px;
    margin-left:15px;
    font-family:times,sans-serif;
    font-size:25pt; 
}

#header ul {
	bottom: 0px;
	right: 6px;
	position: absolute;
	list-style-type:none;
}

#header ul li {
	 float: left;
	 margin: 0 0 0 3px;
}

#header ul li a { 
	background: none repeat scroll 0 0 #888888;
        color: #FFFFFF;
        display: block;
        float: left;
        font-size: 0.8em;
        font-weight: bold;
        height: 25px;
        padding: 13px 15px 0;
        text-decoration: none;
        text-shadow: 0 0 5px #000000;
}
#header ul li.active a {
    background: none repeat scroll 0 0 #FA6F00;
    text-shadow: 0 1px 2px #7F4100;
}

#center_panel {
	float: left;
	clear: both;
	width: 700px;
	height:480px;
}

#right_panel {
	float: right;
	clear: both;
	width: 270px;
	height:480px;
}


#news {
    background: none repeat scroll 0 0 #FFC7B2;
    border-radius: 20px 20px 0 0;
    bottom: 0;
    height: 40px;
    position: fixed;
    width: 970px;
    z-index: 999;
    left:180px;
}
.news_space {
    padding: 10px 20px 0 52px;
}
.news_space span {
    color: #804833;
    font-size: 15px;
    font-weight: bold;
}
.co_b {
    color: #4C2B1F;
    font-size: 18px;
    font-weight: bold;
}


#content{
	position: absolute;
	top: 113px;
	left: 3px;
	width: 970px;
	height:2000px;
	background: #FFFFFF;
}

#content .messages .debug{
	float: center;
	list-style-type:none;
	width: 450px;
	background:#CCCCFF;
	padding: 2px 0 1px 2px;
	font-weight: bold;
	font-size: 13px;
	color: #242424;
	text-shadow: #fefceb 0 1px 1px;
}

#content .messages .info{
	float: center;
	list-style-type:none;
	width: 450px;
	background:#CCCCFF;
	padding: 2px 0 1px 2px;
	font-weight: bold;
	font-size: 13px;
	color: #242424;
	text-shadow: #fefceb 0 1px 1px;
}

#content .messages .warning{
	float: center;
	list-style-type:none;
	width: 450px;
	background:#FFB2B2;
	padding: 2px 0 1px 2px;
	font-weight: bold;
	font-size: 13px;
	color: #242424;
	text-shadow: #fefceb 0 1px 1px;
}

#content .messages .error{
	float: center;
	list-style-type:none;
	width: 450px;
	background:#FFB2B2;
	padding: 2px 0 1px 2px;
	font-weight: bold;
	font-size: 13px;
	color: #242424;
	text-shadow: #fefceb 0 1px 1px;
}


#content .messages .success{
	float: center;
	list-style-type:none;
	width: 450px;
	background:#E0FFA3;
	padding: 2px 0 1px 2px;
	font-weight: bold;
	font-size: 13px;
	color: #242424;
	text-shadow: #fefceb 0 1px 1px;
}

