.trans {
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	width: 930px;
	background:#FDF7EF;
}

.trans .heading {
	font-weight:bold;
	font-size:18px;
	font-family:times,sans-serif;
	color:#660033;
	margin-left:10px;
}

div.original {
	   width:290px;
	   height:120px;
	   border:1px solid #ccc;
	   background-color:#E9E9E9;
	   padding:6px;
	   overflow:auto;
	   font:normal 14px/19px arial;color:#000;
	   font-size:17px;
	}

.btn
{
   float:right;
}

button.next{
    float:right;
    color: #245194;
    font-variant: small-caps;
    font-size: 0.9em;
    background-color: #BFBFBF;
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    padding:5px; 
    position:relative;
}

button.next:hover{
    color: #245194;
    font-variant: small-caps;
    font-size: 0.9em;
    background-color: #33CCFF;
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
}
