#content {
	height:370px;
}

.trans {
	float: left;
	margin-top: 20px;
	width: 930px;
}

.trans .heading {
	font-weight:bold;
	font-size:25px;
	font-family:times,sans-serif;
	color:#404040;
	padding-left:20px;
}

div.original {
           color:#404040;		
	   width:278px;
	   height:120px;
	   padding:6px;
	   padding-left:20px;
	   overflow:auto;
	   font:normal;
	   font-size:18px;
	}

div.translation {
           color:#404040;		
	   width:278px;
	   height:120px;
	   padding:8px;
	   overflow:auto;
	   font:normal;
	   font-size:18px;
	}

.btn
{
   float:right;
}

button.next{
    float:right;
    color: #ffffff;
    font-size: 1em;
    background-color: #576272;
    font-weight: bold;
    cursor: pointer;
    position:relative;
    right:30px;
}
