#content {
	height:900px;
}

#translate .trans {
	float: left;
	width: 970px;
}

#translate .trans p {
	font-weight: bold;
	font-size: 18px;
}

#translate { 
	padding: 5px 0 5px 0; 
}

#translate p {
	font-weight: bold;
	font-size: .70em;
	color: #404040;
}

#translate label {
	display: block;
}

#translate input {
	padding: 3px;
	width: 140px;
}

textarea{
	   width:450px;
	   height:180px;
	   border:0.1em solid #ccc;
	   background-color:#ffffff;
	   padding:6px;
	   overflow:auto;
	   font:normal;
	   font-size:16px;
}


div.original_sentence {
	   width:450px;
	   height:180px;
	   border:0.001em solid #ccc;
	   background-color:#ffffff;
	   padding:6px;
	   overflow:auto;
	   font:normal;
	   font-size:16px;
	}

div.prev_div {
	   width:880px;
	   height:150px;
	   border:1px solid #ccc;
	   background:#f2f2f2;
	   padding:6px;
	   overflow:auto;
	   margin-left:5px;
	}
	
button.zoomin{
    color: #ffffff;
    font-variant: small-caps;
    font-size: 1.2em;
    background-color:#576272;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    position:relative;
   
}

button.zoomout{
    color: #ffffff;
    font-variant: small-caps;
    font-size: 1.2em;
    background-color:#576272;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    position:relative;
   
}

button.google_translate{
    color: #ffffff;
    font-size:0.7em;
    background-color: #576272;
    font-weight: bold;
    cursor: pointer;
    position:relative;
    left:5px;
}

.hlight{ 
    color:#000000;
}

.eng_bold{
    font-weight:bold;
}

 .meaning
{
  background-color:#ffffff;
  color:#000000;
  top: 225px;
  left: 225px;
  width:100px;
  font-size:10pt;
  border-color: #000033;  
  border-width: 1px;  
}

.hide_meaning {
	display:none;
	visibility:hidden;
}
