

#upload .up_load {
	float: left;
	margin: 5px 20px 20px 160px;
	width: 650px;
	background:#FAF8CC;
}

#upload .up_load h2 {
	padding: 12px 0 10px 20px;
	font-weight: bold;
	font-size: .80em;
	color: #242424;
	background:#ECD872;
	text-shadow: #fefceb 0 1px 1px;
}

#upload fieldset { 
	padding: 20px 0 20px 0; 
}

#upload fieldset p {
	margin: 0 20px 10px 20px;
	font-weight: bold;
	font-size: .70em;
	color: #6e6e6e;
}

#upload fieldset label {
	margin: 0 0 5px 0;
	display: block;
}

button.upload{
    color: #245194;
    font-variant: small-caps;
    font-size: 0.8em;
    background-color: #BFBFBF;
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    position:relative;
    left:20px;
}

button.upload:hover{
    color: #245194;
    font-variant: small-caps;
    font-size: 0.8em;
    background-color: #33CCFF;
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
}


.calendarbox, .clockbox {
    margin: 5px auto;
    font-size: 11px;
    width: 16em;
    text-align: center;
    background: white;
    position: relative;
}

.clockbox {
    width: auto;
}

.calendar {
    margin: 0;
    padding: 0;
}

.calendar table {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    background: white;
    width: 99%;
}

.calendar caption, .calendarbox h2 {
    margin: 0;
    font-size: 11px;
    text-align: center;
    border-top: none;
}

.calendar th {
    font-size: 10px;
    color: #666;
    padding: 2px 3px;
    text-align: center;
    background: #e1e1e1 url(../images/nav-bg.gif) 0 50% repeat-x;
    border-bottom: 1px solid #ddd;
}

.calendar td {
    font-size: 11px;
    text-align: center;
    padding: 0;
    border-top: 1px solid #eee;
    border-bottom: none;
}

.calendar td.selected a {
    background: #C9DBED;
}

.calendar td.nonday {
    background: #efefef;
}

.calendar td.today a {
    background: #ffc;
}

.calendar td a, .timelist a {
    display: block;
    font-weight: bold;
    padding: 4px;
    text-decoration: none;
    color: #444;
}

.calendar td a:hover, .timelist a:hover {
    background: #5b80b2;
    color: white;
}

.calendar td a:active, .timelist a:active {
    background: #036;
    color: white;
}

.calendarnav {
    font-size: 10px;
    text-align: center;
    color: #ccc;
    margin: 0;
    padding: 1px 3px;
}

.calendarnav a:link, #calendarnav a:visited, #calendarnav a:hover {
    color: #999;
}

.calendar-shortcuts {
    background: white;
    font-size: 10px;
    line-height: 11px;
    border-top: 1px solid #eee;
    padding: 3px 0 4px;
    color: #ccc;
}

.calendarbox .calendarnav-previous, .calendarbox .calendarnav-next {
    display: block;
    position: absolute;
    font-weight: bold;
    font-size: 12px;
    background: #C9DBED url(../images/default-bg.gif) bottom left repeat-x;
    padding: 1px 4px 2px 4px;
    color: white;
}

.calendarnav-previous:hover, .calendarnav-next:hover {
    background: #036;
}

.calendarnav-previous {
    top: 0;
    left: 0;
}

.calendarnav-next {
    top: 0;
    right: 0;
}

.calendar-cancel {
    margin: 0 !important;
    padding: 0;
    font-size: 10px;
    background: #e1e1e1 url(../images/nav-bg.gif) 0 50% repeat-x;
    border-top: 1px solid #ddd;
}

.calendar-cancel a {
    padding: 2px;
    color: #999;
}

ul.timelist, .timelist li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.timelist a {
    padding: 2px;
}


