{% extends "layout.html" %}
{% block menu %}
	<ul>
		<li title="Your home page"><a href="/account/">Home</a></li>
		<li title="Read about us"><a href="/account/about_us/">Team</a></li>
		<li title="Translate content"><a href="/account/translate/{{uid}}/">Translate</a></li>
		<li title="Change your account settings"><a href="/account/{{uid}}/settings/" class="active">Profile</a></li>
		<li title="Contact Us"><a href="/account/contact_us/">Contact Us</a></li>
	</ul>
{% endblock %}

{% block status_message %}
	<p class="account">Welcome, <a>{{username}}</a><a style="color:#707070" href="/logout/"><u>Logout</u></a></p>
{% endblock %}

{% block head %}
	<link rel="stylesheet" href="/static/stylesheets/account_settings.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="/static/stylesheets/django-admin-widgets.css" type="text/css" media="screen, projection" />
	<link type="text/css" rel="stylesheet" href="/static/stylesheets/ui-autocomplete.css" />
		
	<script type="text/javascript" src="/static/scripts/autocomplete.js"></script>
	<script type="text/javascript" src="/static/scripts/ui-autocomplete.js"></script> 
	<script src="/static/scripts/django-admin.multiselect.js" type="text/javascript"></script>
	
	<script src="/static/scripts/jquery-one.js" type="text/javascript"></script>
{% endblock %}

{% block script %}
<script type="text/javascript" Language="JavaScript">
	function OnChangePassword()  {
		Animate('passwd');
	}
	
	function OnUpdate()	{
		document.settings_form.action = "/account/{{uid}}/settings/done/"
		return true;
	}
		
	$(function() {
		var word = $('#g').text().split(',');
		$("#id_groups").autocomplete({
			source: word
		});
		SelectFilter.init("id_language", "", 0, "/media/");  
		SelectFilter.init("id_interests", "", 0, "/media/");  
	});
	
</script>
{% endblock %}

{% block center_panel_other_content %}
<form action="." name="settings_form" id="settings_form" method="post" enctype="multipart/form-data" accept-charset="utf-8">
{% csrf_token %}
<div id="signup">
	<div class="sign_up">
		<h2>&nbsp;&nbsp;Update your Profile</h2>
				<p><label>Username:</label>{{form1.username}}</p>
				<p><label>First Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Last Name</label>
				{{form1.first_name|capfirst}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{form1.last_name|capfirst}}</p>
				<p><label>Email ID:</label>{{form1.email}}</p>
				<p><button type="button" name="change_password" id="change_password" class="change_password" onclick="OnChangePassword();">Change Password</button>  
				<div id="passwd" style="display:none;">
					<p><label>Password:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Confirm Password:</label>
						{{form.password}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{form.confirm_password}}	
				</div></p>		
    			<p><label>Date of Birth:</label>{{form.date_of_birth}}</p>
    			<p><label>Gender:</label>{{form.gender}}</p>
    			<p><label>District:</label>{{form.district|capfirst}}</p>
    			<p><label>Educational Qualification:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				 Domain:</label>{{form.education_qualification}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
				 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{form.domain}}</p>
    			<p><label>Medium of education during school:</label>{{form.medium_of_education_during_school}}</p>
      			<p><label>Interests:</label>{{form.interests}}</p>
      			
    			<p><label>Roles:</label>{{form.translator|default_if_none:"on"}}Translator&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    			{{form.contributor|default_if_none:"off"}}Contributor&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    			{{form.evaluator|default_if_none:"off"}}Evaluator</p>
    			<p><label>Language:</label>{{form.language}}</p>
    			<p><label>Groups:</label>{{form1.groups}}</p>
				<p>{{html_captcha|safe}}</p>     			
       			<button name="sign_up" id="sign_up" class="signup" onclick="OnUpdate();">Update Account</button>
       			<div id="g" style="visibility:hidden">{{list}}</div>          
	</div>
</div>
</form>
{% endblock %}