{% extends "layout.html" %}
{% block menu %}
	<ul>
		<li title="Your home page"><a href="/account/">Home</a></li>
		<li title="Read about us"><a href="/account/about_us/">About Us</a></li>
		<li title="Upload file for translation (This feature is coming soon.)"><a href="/account/evaluate/">Contribute</a></li>
		<li title="Translate content"><a href="/account/translate/{{uid}}/">Translate</a></li>
		<li title="Evaluate translations (This feature is coming soon.)"><a href="/account/evaluate/">Evaluate</a></li>
		<li title="Change your account settings"><a href="/account/{{uid}}/settings/">Profile</a></li>
		<li title="Blog"><a href="">Blog</a></li>
		<li title="Contact Us"><a href="/account/contact_us/">Contact Us</a></li>
	</ul>
{% endblock %}

{% block head %}
{% endblock %}

{% block status_message %}
	<p  class="account">Welcome, <a>{{username}}<a>
	&nbsp;&nbsp;
	<a style="color:#707070" href="/logout/"><u>Logout</u></a></li></p>
{% endblock %}

{% block center_panel_other_content %}<label>This feature is coming soon!!!</label>{% endblock %}