{% extends "layout.html" %}
{% block menu %}
	<ul>
		<li><a href="/account/">Home</a></li>
		<li><a href="/account/upload/">Contribute</a></li>
		<li><a href="/account/translate/{{uid}}/">Translate</a></li>
		<li><a href="/account/evaluate/">Evaluate</a></li>
		<li><a href="/account/{{uid}}/settings/">Settings</a></li>
		<li><a href="/logout/">Logout</a></li>
	</ul>
{% endblock %}

{% block status_message %}
<p class="account">Welcome, <a>{{username}}.</a></p>
{% endblock %}

{% block center_panel_other_content %}{% endblock %}