{% extends "layout.html" %}

{% block status_message %}
	<p class="account">Welcome, <a>{{username}}</a><a style="color:#707070" href="/logout/"><u>Logout</u></a></li></p>
{% endblock %}

{% block head %}
	<link rel="stylesheet" href="/static/stylesheets/keyboard.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/static/stylesheets/translate.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="/static/stylesheets/transliterator-autocomplete.css" type="text/css" media="screen, projection" />
		
	<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js"></script>	
			
	<script src="/static/scripts/animate.js" type="text/javascript"></script>
    <script src="/static/scripts/keyboard.js" type="text/javascript"></script>
	<script src="/static/scripts/predict.js" type="text/javascript"></script>
	
	<script src="/static/scripts/jquery-fieldselection.js" type="text/javascript"></script>
	<script src="/static/scripts/jquery-fieldselection.min.js" type="text/javascript"></script>
	<script src="/static/scripts/jquery-latest.pack.js" type="text/javascript"></script>
{% endblock %}

{% block script %}
<script type="text/javascript">

		$(document).ready(function() {
			var a = "{{hindi}}";
			document.getElementById("translated_sentence").value = a;
		});

		// CODE FOR CORRECTION EPISODE STARTS HERE
	
		$(document).ready(function(){
			$('#translated_sentence').keyup(update).mousedown(update).mouseup(update);
		});
		
		/****this function handles #debug #output****/

		function update(e) {
			// here we fetch our text range object
			var range = $(this).getSelection();

			// just dump the values
			$('#output1').html(
			    "hexdump:\n" + hexdump(this.value, range.start, (range.end != range.start) ? range.end - 1 : range.end) + "\n\n" +
				"id: " + this.id + "\n" +
				"start: " + range.start + "\n" +
				"length: " + range.length + "\n" +
        		"end: " + range.end + "\n" +
        		((typeof range['row'] != 'undefined') ? "caret row: " + range.row + "\n" : '') +
       			((typeof range['col'] != 'undefined') ? "caret col: " + range.col + "\n" : '') +
       			"selected text:\n<span class=\"txt\">" + (($('#ws').get(0).checked) ? range.text.whitespace() : range.text) + "</span>\n\n"
			);
			document.getElementById("print-output").innerHTML = document.getElementById("print-output").innerHTML + $('#output1').text(); 
		}
		
		/**** this code block is not needed for jQuery fieldSelection
			  this is just to visualize white space in #debug #output ****/

		String.prototype.whitespace = (function() {
			if (!RegExp.escape) { 
			  RegExp.escape = (function() { // RegExp.escape by Simon Wilson & Mark Wubben
			    var specials = [ '/', '.', '*', '+', '?', '|', '(', ')', '[', ']', '{', '}', '\\' ];
			    var sRE = new RegExp( '(\\' + specials.join('|\\') + ')', 'g' );
			    return function(text) { return text.replace(sRE, '\\$1') }
			  })();
			}
			
			var ws = { "\r\n": "¶", "\n": "¶", "\r": "¶", "\t": "&raquo;", " ": "&middot;" };
			
			return ($.browser.msie) ? function() {
				// &#8203; to break up our whitespaces doesn't work in IE (it prints a block)
				// but nevertheless he doesn't need it, because he has "word-wrap:break-word;"
				// and therefore he gets his own function
				var s = this;
				$.each(ws, function(i){ s = s.replace(new RegExp(RegExp.escape(i), 'g'), this) });
				return s;
			} : function () {
				var s = this;
				$.each(ws, function(i){ s = s.replace(new RegExp(RegExp.escape(i), 'g'), this + "\u200b") });
				return s;
			}
			
		})();

		function hexdump(txt, hi_f, hi_t) {
			var hex = '', tmp;
			if (txt) {
				for (var i = 0, j = txt.length; i <= j; i++) {
					tmp = txt.charCodeAt(i).toString(16);
					if (i == hi_f)
						hex += '<span class="hi">';
					if (i < txt.length)
						hex += ( (tmp.length == 2) ? tmp : '0' + tmp );
					else
						hex += "&nbsp;&nbsp;";
					if (i == hi_t)
						hex += '</span>';
					if ((i+1) % 16 == 0)
						hex += "\n";
					else
						hex += ' ';
				}
			}
			return hex;
		}
		// CODE FOR CORRECTION EPISODE ENDS HERE
		
		// CODE FOR DICTIONARY MEANING ON MOUSEOVER ENGLISH WORD STARTS HERE		
		$(function() {
			appendSpan_english();
			appendSpan_prev_context();
			appendSpan_next_context();
		});
		
		function appendSpan_english() {
			$(function() {
				var eng_words = $('#english').text().split(' ');
				var newHtml1 = '';
				for (i = 0; i < eng_words.length; i++) {
					newHtml1 += '<span id="eng">' + eng_words[i] + '</span> ';
				}
				$('#english').html(newHtml1);
				$(this).find("span").attr("id", "eng").addClass('eng_bold');
				$(this).find("span").attr("id", "eng").mouseover( function() {
					$(this).addClass('hlight');
					getWord($(this).text());
				});
				$(this).find("span").attr("id", "eng").mouseout( function() {
					$(this).removeClass('hlight');
					$('#meaning').remove();
				});
			});		
		}
		
		function appendSpan_prev_context() {
			var prev_context_words = $('#prev_context').text().split(' ');
			$(function() {
				var newHtml2 = '';
				for (i = 0; i < prev_context_words.length; i++) {
					newHtml2 += '<span id="prev_con">' + prev_context_words[i] + '</span> ';
				}
				$('#prev_context').html(newHtml2);
				$(this).find("span").attr("id", "prev_con").mouseover( function() {
					$(this).addClass('hlight');
					getWord($(this).text());
				});
				$(this).find("span").attr("id", "prev_con").mouseout( function() {
					$(this).removeClass('hlight');
					$('#meaning').remove();
				});
			});
		}
		
		function appendSpan_next_context() {
			var next_context_words = $('#next_context').text().split(' ');
			$(function() {
				var newHtml3 = '';
				for (i = 0; i < next_context_words.length; i++) {
					newHtml3 += '<span id="next_con">' + next_context_words[i] + '</span> ';
				}
				$('#next_context').html(newHtml3);
				$(this).find("span").attr("id", "next_con").mouseover( function() {
					$(this).addClass('hlight');
					getWord($(this).text());
				});
				$(this).find("span").attr("id", "next_con").mouseout( function() {
					$(this).removeClass('hlight');
					$('#meaning').remove();
				});
			});
		}
		
		function getWord(find){
        	    var max = 0;
        	    var top = 225;
        	    var left = 225;
	            var numLines=0;
        	    var x = 0;
        	    var lines = '';
        	    var dictionary = new Array();
	
        	    dictionary = JSON.parse($('#dict').text())

        	    for (x in dictionary) {
        	    	if (dictionary[x].word == find) {
        	    		lines = lines + (dictionary[x].pos) + "--" + (dictionary[x].mean) + '\n';	
        	    	}
        	    }
       
        	    max = max*9;
        	    dict = document.createElement("div");
        	    dict.setAttribute('id','meaning');
        	    dict.style.width = max + "px";
        	    dict.style.top = top + "px";
        	    dict.style.left = left + "px";
        	    dict.setAttribute('class','meaning');
        	    dict.innerHTML = lines;
        	    $('.meaning').hide();
        	    document.getElementById("suggest").appendChild(dict);
        	}
		// CODE FOR DICTIONARY MEANING ON MOUSEOVER ENGLISH WORD ENDS HERE	
		
		// CODE FOR AUTO-COMPLETION IN TRANSLITERATOR STARTS HERE	
				
		function GetCaretPosition(node) {	
		 	/* without node.focus() IE will returns -1 when focus is not on node */
		 	if(node.selectionStart) return node.selectionStart;
		 	else if(!document.selection) return 0;
		 	var c = "\001";
		 	var sel = document.selection.createRange();
		 	var dul = sel.duplicate();
		 	var length = 0;
		 	dul.moveToElementText(node);
		 	sel.text = c;
		 	length	= (dul.text.indexOf(c));
		 	sel.moveStart('character',-1);
		 	sel.text = "";
		 	return length;
		}
		
		$(document).ready(function() {
			$("#translated_sentence").keyup(function(){
				changeCursor(this);
				
				var gDelimeters = new Array(' ', '\t', '\n', '-', '|', '(', ')', ',');
				var input = document.getElementById("translated_sentence");
				var caret = GetCaretPosition(input);
				
				var i=0;
				var text = input.value;
				var ld_index = -1; //index of last delimeter before caret position.
				var string; //stored  suggestions array converted to string.
				
				for(i=0; i<gDelimeters.length; i++) {
					if(ld_index < text.lastIndexOf(gDelimeters[i], caret - 1)) {
						ld_index = text.lastIndexOf(gDelimeters[i], caret - 1);	
					}
				}	
				gWordStart = ld_index+1;
				gWordEnd = caret;
				
				var left_str = text.substring(0, ld_index); 
				var word = text.substring(ld_index+1, caret);
				var right_str = text.substring(caret);
	
				if(word.length>=5)
				{
			  		req_url = '/account/translate/{{uid}}/dictionary/'+word;
			  		$.get(req_url, function(result) {
			  			var autolist = new Array();
			  			autolist =  result.split("      ");
			  			Predict(autolist);
					});
				}
				else {
					var divSuggestBox = document.getElementById("suggestion");
					document.getElementById("translate").removeChild(divSuggestBox);
				}
		 	});
		});
		// CODE FOR AUTO-COMPLETION IN TRANSLITERATOR ENDS HERE
		
		// CODE FOR AUTO-CORRECTION IN TRANSLITERATOR ENDS HERE
		
		{% if auto_correction %}
			$(document).ready(function() {
				$('#translated_sentence').dblclick(function(event) {
					OnmouseOver(this);
				});
			});
		
			function OnClick(){
				$(function() {
					$('#autocorrect').remove();
				});
			}
	
			$(document).keydown(function(event) {
		 		document.getElementById('hindi').style.display = "none";
				document.getElementById('translated_sentence').style.display = 'block';
				var pos = GetCaretPosition(document.getElementById('translated_sentence'));
				SetCaretPosition(document.getElementById('translated_sentence'), pos);
			});
		{% endif %}		
		// CODE FOR AUTO-CORRECTION IN TRANSLITERATOR ENDS HERE
		
				
		var fontSize = 1;
		
		function zoomOut() {
			fontSize += 0.1;
			document.getElementById("original_sentence").style.fontSize = fontSize + "em";
			document.getElementById("translated_sentence").style.fontSize = fontSize + "em";
			document.getElementById("translated_sentence").style.fontSize = fontSize + "em";
			document.getElementById("translated_sentence").style.fontSize = fontSize + "em";
			document.getElementById("hindi").style.fontSize = fontSize + "em";
			document.getElementById("hindi").style.fontSize = fontSize + "em";
			document.getElementById("hindi").style.fontSize = fontSize + "em";
		}
		
		function zoomIn() {
			fontSize -= 0.1;
			document.getElementById("original_sentence").style.fontSize = fontSize + "em";
			document.getElementById("translated_sentence").style.fontSize = fontSize + "em";
			document.getElementById("translated_sentence").style.fontSize = fontSize + "em";
			document.getElementById("translated_sentence").style.fontSize = fontSize + "em";
			document.getElementById("hindi").style.fontSize = fontSize + "em";
			document.getElementById("hindi").style.fontSize = fontSize + "em";
			document.getElementById("hindi").style.fontSize = fontSize + "em";
		}
		
		function OnNext() {
			document.translate_form.action = "/account/translate/{{uid}}/"
			return true;
		}
		
		function OnReset() {
			document.getElementById('hindi').style.display = "none";
			document.getElementById('translated_sentence').style.display = 'block';
			document.getElementById('translated_sentence').value = ' ';
		}
		
		$(document).ajaxSend(function(event, xhr, settings) {
			function getCookie(name) {
				var cookieValue = null;
				if (document.cookie && document.cookie != '') {
					var cookies = document.cookie.split(';');
					for (var i = 0; i < cookies.length; i++) {
						var cookie = jQuery.trim(cookies[i]);
						// Does this cookie string begin with the name we want?
						if (cookie.substring(0, name.length + 1) == (name + '=')) {
							cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
							break;
						}
					}
				}
				return cookieValue;
			}
			function sameOrigin(url) {
				// url could be relative or scheme relative or absolute
				var host = document.location.host; // host + port
				var protocol = document.location.protocol;
				var sr_origin = '//' + host;
				var origin = protocol + sr_origin;
				// Allow absolute or scheme relative URLs to same origin
				return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
				(url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
				// or any other URL that isn’t scheme relative or absolute i.e relative.
				!(/^(\/\/|http:|https:).*/.test(url));
			}
			function safeMethod(method) {
				return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
			}
			if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
				xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
			}
		});
		
		function myconfirm(title,message,target,data,alert_msg) {
   			$('body').append('<div id="dialog-confirm" title="'+title+'" style="display:none"><p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 120px 0;"></span>'+message+'</p></div>');
   			$('#dialog-confirm').dialog({
      			resizable: false,
      			modal: true,
      			show: 'clip',
      			hide: 'explode',
      			width: 400,
      			buttons: {
                  	"Yes": function() {
                    	$(this).dialog("close");
						$.post(target,data,function(data) {
     						alert(alert_msg); 
     						window.location = "/account/translate/{{uid}}/";
   						});
                  	},
                  	Cancel: function() {
                    	 $(this).dialog("close");
                  	}
                },
      			close: function(event, ui) { $('#dialog-confirm').remove(); }
   			});
   			return false;
		}
		
		function OnSubmit() {
			x = $('#print-output').text();
			$('#cmd').val(x);
			var default_translation = "{{hindi}}"; 
			var user_translation = document.getElementById("translated_sentence").value;
				
			if (user_translation == "") {
				alert("Error!!!You cannot submit blank translation.");
				return false;
			} 					
			else if (default_translation == user_translation) {
				data = {cmd:x,translated_sentence:user_translation};
				return myconfirm('Are you sure?','You are about to submit the same translation. Do you think this is the perfect translation for this sentence?','/account/translate/{{uid}}/{{curr_id}}/done/',data,"Record saved successfully!!!");
			}			
			else {
				document.translate_form.action = "/account/translate/{{uid}}/{{curr_id}}/done/";
				return true;
			}
		}
</script>
{% endblock %}

{% block menu %}
	<ul>
		<li title="Your home page"><a href="/account/">Home</a></li>
		<li title="Read about us"><a href="/account/about_us/">Team</a></li>
		<li title="Translate content"><a href="/account/translate/{{uid}}/">Translate</a></li>
		<li title="Change your account settings"><a href="/account/{{uid}}/settings/">Profile</a></li>
		<li title="Contact Us"><a href="/account/contact_us/">Contact Us</a></li>
	</ul>
{% endblock %}

{% block center_panel_other_content %}
<form name="translate_form" id="translate_form" action="." method="post" enctype="multipart/form-data" accept-charset="UTF-8">
{%csrf_token%}
<div id="translate">
	<div class="trans">
	<p><table>
		<tr>
			<td><label style="color:#404040">Use these buttons to zoom-in and zoom-out text : </label></td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td><button type="button" name="zoomin" id="zoomin" class="zoomin" value="+" onclick="zoomOut();">+</button></td>
			<td><button type="button" name="zoomout" id="zoomout" class="zoomout" value="-" onclick="zoomIn();">-</button></td>
		</tr>
	</table></p>
		
	<div id="suggest">
		<table width="100%">
			<tr>
				<td><label style="color: #990099">Translate the text in bold letters:</label></td>
				<td><label style=" color: #990099">Type in translation in Hindi here:</label><td>
			</tr>
			<tr>
				<td>
					<div class="original_sentence" name="original_sentence" id="original_sentence" readonly="readonly">
						 {% if prev_context %} <div name="prev_context" id="prev_context"><a style="color: #B0B0B0;">{{prev_context}}</a></div>{% endif %}
						 <div name="english" id="english"><a style="font-weight:bold;">{{english}}</a></div>
						 {% if next_context %} <div name="next_context" id="next_context"><a style="color: #B0B0B0;">{{next_context}}</a></div>{% endif %}
	   			    </div>
   			    </td>
				<td>
					<script>CreateCustomHindiTextArea("translated_sentence","",40,10,true);</script>
					<div class="original_sentence" id="hindi" style="display:none;" onclick = "OnClick();"></div>
				</td>
			</tr>	
			<tr>
				<td><label style=" color: #707070;font-size:15px;">Hover on the english word above to view its meaning in Hindi. </label></td>
				{% if auto_correct %}
				<td><label style=" color: #707070;font-size:15px;">Double click on above area each time to enable auto-correction. Click on the word to view possible options.</label></td>
				{% endif %}
			</tr>
		</table>
		</div>
		<table>
			<tr>
				<td>
					<button name="submit" id="submit" class="google_translate" onclick="return OnSubmit();">Save Translation</button><img src="/static/images/save.png"/>
					<button type="button" name="reset" id="reset" class="google_translate" value="reset" onclick="OnReset();">Reset</button>
					<button name="next" id="next" value="next" class="google_translate" onclick="return OnNext();" >Next</button>
					<button type="button" name="display_help" id="display_help" class="google_translate" onclick="helpClicked(this);">View Help</button><img src="/static/images/help.png"/>
					<button type="button" name="prev_translations" id="prev_translations" class="google_translate" onclick="previous_TranslationsClicked(this);">View Alternate Translations</button>
				</td>
			</tr>
		</table>
		<div id="help" style="display:none; padding-left:20px;">
			<img src="/static/images/thelp.png"/>
		</div>
		<div id="previous" style="display:none;">
		<table width="100%">
			<tr>
				<td valign="top" align="left"><label style="color: #990099;"></br>Other Translations:</label>
				<div class="prev_div" name="prev_trans" id="prev_trans" style="background-color:#ffffff; color:#404040;" readonly="readonly">
				{{machine_translation}}{{other_translations}}</div></td>
			</tr>	
		</table>
	</div>
	</div>
</div>
<div id="print" style="visibility:hidden">
	<input id="ws" name="ws" type="checkbox" checked="checked"/>
	<input id="cmd" name="cmd" type="text" value=""></input>
	<pre id="output1"></pre>
</div>
<div id="print-output" style="visibility:hidden"></div>
<div id="dict" style="visibility:hidden">{{eng2hin_dict}}</div>
</form>
{% endblock %}

