{% extends "layout.html" %}

{% block head %}
	<link rel="stylesheet" href="/static/stylesheets/aboutUs.css" type="text/css" media="screen, projection" />	
{% endblock %}


{% block status_message %}
	{% if logged_in %}
		<p class="account">Welcome, <a>{{username}}</a>
		<a style="color:#707070" href="/logout/"><u>Logout</u></a></li></p>
	{% else %}
		<p class="account">Already have an account? <a href="/sign_in/">Sign in</a></p>
	{% endif %}
{% endblock %}
	
{% block menu %}
	{% if logged_in %}
		<ul>
			<li title="Your home page"><a href="/account/">Home</a></li>
			<li title="Read about us"><a href="/account/about_us/">Team</a></li>
			<li title="Translate content"><a href="/account/translate/{{uid}}/">Translate</a></li>
			<li title="Change your account settings"><a href="/account/{{uid}}/settings/">Profile</a></li>
			<li title="Contact Us"><a href="/account/contact_us/">Contact Us</a></li>
		</ul>
	{% else %}
	<ul>
		<li title="Home"><a href="/home/">Home</a></li>
		<li title="Read about us"><a href="/about_us/" class="active">Team</a></li>
		<li title="Contact Us"><a href="/contact_us/">Contact Us</a></li>
		<li title="Create an account"><a href="/sign_up/">SignUp</a></li>
	</ul>
	{% endif %}
{% endblock %}

{% block center_panel_other_content %}
<form action="." name="about_us_form" id="about_us_form" method="post" enctype="multipart/form-data" accept-charset="utf-8">
{%csrf_token%}<div class="about">
		<p class="heading">Founding Team -</p>
		<p class="name">Shirish Karande</p>
		<p class="name">Venkata Pingali</p>
		<p class="name">Srinivasan Iyengar</p>
		<p class="name">Sachin Lodha</p>
		<p class="name">Ankita Jain</p>
		<p class="name">Bhagyashree Gujar</p>
		<p class="name">Reena Kabra</p>
		<p class="name">Contributors</p>
		<p class="info">The Bhagiratha team would like to thank - Niranjan Pedanekar (Logo Designer), Stephen Lee (cloud setup and 		   	deployment), Vijayanand Banahatti (constant encouragement), Harrick Vin (Mentor), Joel Joseph, Rahul Kelkar, Girish Palshikar, Athiappan G. </p>
	</div>
</form>
{% endblock %}
