{% extends "layout1.html" %}

{% block script %}

<script type="text/javascript" Language="JavaScript">
	function OnMouseOver(){
		this.getElementByTagName("ul")[0].style.display="block"
	}
	
	function OnMouseOut(){
		this.getElementByTagName("ul")[0].style.display="none"
	}
</script>
{% endblock %}


{% block center_panel_content %}
<form action="." name="login_form" id="login_form" method="post" enctype="multipart/form-data" accept-charset="utf-8">
{%csrf_token%}
<div id="maincolumn">
	<div class="lnk">
		<Marquee OnMouseOver="this.stop();" OnMouseOut="this.start();" direction="up" scrollamount="2">
		<ul>
		<p><a href="/signup/">Create account</a></p>
		<p><a href="/sample/">View sample translations</a></p>
		</ul>		
		</Marquee>
	</div>
</div>
{% endblock %}