{% extends "layout.html" %}
{% load adminmedia %}

{% block head %}
	<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js"></script>	
{% endblock %}

{% block script %}
	<script>
		$(function() {
			$( "#tabs" ).tabs();
		});
	</script>
	<script type="text/javascript" Language="JavaScript">
		function OnFeedback() {
			document.contact_us_form.action = "/feedback/"
			return true;
		}
	</script>
{% endblock %}

{% block status_message %}
	{% if logged_in %}
		<p class="account">Welcome, <a>{{username}}</a><a style="color:#707070" href="/logout/"><u>Logout</u></a></li></p>
	{% else %}
		<p class="account">Already have an account? <a href="/sign_in/">Sign in</a></p>
	{% endif %}
{% endblock %}
	
{% block menu %}
	{% if logged_in %}
		<ul>
			<li title="Your home page"><a href="/account/">Home</a></li>
			<li title="Read about us"><a href="/account/about_us/">About Us</a></li>
			<li title="Translate content"><a href="/account/translate/{{uid}}/">Translate</a></li>
			<li title="Change your account settings"><a href="/account/{{uid}}/settings/">Profile</a></li>
			<li title="Contact Us"><a href="/account/contact_us/">Contact Us</a></li>
		</ul>
	{% else %}
	<ul>
		<li title="Home"><a href="/home/">Home</a></li>
		<li title="Read about us"><a href="/about_us/">About Us</a></li>
		<li title="Contact Us"><a href="/contact_us/" class="active">Contact Us</a></li>
		<li title="Create an account"><a href="/sign_up/">SignUp</a></li>
	</ul>
	{% endif %}
{% endblock %}
	
{% block center_panel_other_content %}
<form action="." name="contact_us_form" id="contact_us_form" method="post" enctype="multipart/form-data" accept-charset="utf-8">
{% csrf_token %}
<label>
	</br>&nbsp;&nbsp;&nbsp;Feel free to - 
	<ul>
	<li>Give suggestions for improving the site. </li> 
	<li>Express interest to collaborate with us. </li>
	<li>Point out copyright issues pertaining to content on the site. </li></br>
	</ul>
</label>

	<div class="demo">
		<div id="tabs">
			<ul>
				<li><a href="#suggestions_tab">Suggestions</a></li>
				<li><a href="#collaboration_tab">Collaboration</a></li>
				<li><a href="#copyright_issues_tab">Copyright issues</a></li>
			</ul>
			<div id="suggestions_tab">
				<p><label>Email ID:</label>{{form.email}}</p>
				<p><label>Comment:</label>{{form.comment}}</p>
				<button name="feedback_suggestion" id="feedback_suggestion" onclick="OnFeedback();">Submit</button>
			</div>
			<div id="collaboration_tab">
				<p><label>Email ID:</label>{{form.email}}</p>
				<p><label>Comment:</label>{{form.comment}}</p>
				<button name="feedback_collaboration" id="feedback_collaboration" onclick="OnFeedback();">Submit</button>
			</div>
			<div id="copyright_issues_tab">
				<p><label>Email ID:</label>{{form.email}}</p>
				<p><label>Comment:</label>{{form.comment}}</p>
				<button name="feedback_copyright_issues" id="feedback_copyright_issues" onclick="OnFeedback();">Submit</button>
			</div>
		</div>							
	</div>
</form>
{% endblock %}