{% extends "layout1.html" %}
{% block menu %}
	<ul>
		<li><a href="/account/">Home</a></li>
		<li><a href="/account/upload/">Upload File</a></li>
		<li><a href="/account/translate/{{uid}}/">Translate</a></li>
		<li><a href="/account/evaluate/">Evaluate</a></li>
		<li><a href="/account/{{uid}}/settings/">Account Settings</a></li>
		<li><a href="/logout/">Logout</a></li>
	</ul>
{% endblock %}

{% block content1 %}
<form action="." name="login_form" id="login_form" method="post" enctype="multipart/form-data" accept-charset="utf-8">
{%csrf_token%}
<div id="maincolumn">
	<div class="sample">
		<p>India is my country.</p>
		<p></p>
		<p>&nbsp;</p>
		<p></p>
		<p></p>
		<p>&nbsp;</p>
		<p></p>
		<p></p>
		<p>&nbsp;</p>		
	</div>
</div>
</form>
{% endblock %}
