{% extends "layout.html" %}
{% load adminmedia %}

{% block script %}
<script type="text/javascript" Language="JavaScript">
	function OnSignUp()	{
		document.sign_up_form.action = "/sign_up/done/"
		return true;
	}
</script>
{% endblock %}

{% block center_panel_other_content %}
<form action="." name="sign_up_form" id="sign_up_form" method="post" enctype="multipart/form-data" accept-charset="utf-8">
{% csrf_token %}
<div id="signup">
	<div class="sign_up">
		<h2>Create your Account</h2>
			<fieldset>
				<p><label>First Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Last Name</label>
				{{form.first_name|capfirst}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{form.last_name|capfirst}}</p>
				<p><label>Email ID:</label>{{form.email}}</p>
    			<p><label>Username:</label>{{form.username}}</p>
    			<p><label>Password:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Confirm Password:</label>
				 {{form.password}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{form.confirm_password}}</p>
    			<p><label>Date of Birth:</label>{{form.date_of_birth}}</p>
    			<p><label>District:</label>{{form.district|capfirst}}</p>
    			<p><label>Educational Qualification:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				 Domain:</label>{{form.education_qualification}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{form.domain}}</p>
    			<p><label>Medium of education during school:</label>{{form.medium_of_education_during_school}}</p>
    			<p><label>Interests:</label>
					<input type="radio" name="g1" value="default" onclick="" checked="checked">Default</input>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="radio" name="g1" value="specific" onclick="helpClicked(this,'specifications');">Specify</input>
	 				<div id="specifications" style="display:none;margin: 0 20px 10px 20px;">
						{{form.interests}}
						<label style="margin: 0 20px 10px 0px;font-weight: bold;font-size: .70em;color: #6e6e6e;">Hold down "Control", or "Command" on a Mac, to select more than one.</label>
					</div>
		        </p>
    			<p><label>Select Roles:</label>{{form.translator|default_if_none:"on"}}Translator&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    			{{form.contributor|default_if_none:"off"}}Contributor&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    			{{form.evaluator|default_if_none:"off"}}Evaluator</p>
    			<p><label>Language:</label>{{form.language}}<label>Hold down "Control", or "Command" on a Mac, to select more than one.</label></p>
				<p>{{html_captcha|safe}}</p>     			
       			<button name="sign_up" id="sign_up" class="signup" onclick="OnSignUp();">Create Account</button>          
			</fieldset>
	</div>
</div>
</form>
{% endblock %}