{% extends "layout.html" %}
{% load adminmedia %}

{% block script %}
<link rel="stylesheet" href="/static/stylesheets/django-admin-widgets.css" type="text/css" media="screen, projection" />
<link type="text/css" rel="stylesheet" href="/static/stylesheets/jquery-ui.css" />

<script type="text/javascript" src="/static/scripts/jquery.js"></script>
<script type="text/javascript" src="/static/scripts/jquery-ui.js"></script>


<script type="text/javascript" Language="JavaScript">
	function OnSignUp() {
	document.sign_up_form.action = "/sign_up/done/"
	return true;
	}

	$(document).ready(function() {
		var word = $('#g').text().split(',');
		
		jQuery.each($('select[@multiple="multiple"]'), function () {  
		 SelectFilter.init(this.id, "", 0, "/media/");  
		}); 
		
		$("#groups").autocomplete({
				source: word
			});
	});
</script>
{% endblock %}

{% block center_panel_other_content %}
<form action="." name="sign_up_form" id="sign_up_form" method="post" enctype="multipart/form-data" accept-charset="utf-8">
{% csrf_token %}
	<div id="signup">
		<div class="sign_up">
			<h2>Create your Account</h2>
			<fieldset>
				<p><label>First Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Last Name</label>
				{{form.first_name|capfirst}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{form.last_name|capfirst}}</p>
				<p><label>Email ID:</label>{{form.email}}</p>
				<p><label>Username:</label>{{form.username}}</p>
				<p><label>Password:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Confirm Password:</label>
				{{form.password}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{form.confirm_password}}</p>
				<p><label>Gender:</label>{{form.gender}}</p>
				<p><label>Date of Birth:</label>{{form.date_of_birth}}</p>
				<p><label>District:</label>{{form.district|capfirst}}</p>
				<p><label>Educational Qualification:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				Domain:</label>{{form.education_qualification}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{form.domain}}</p>
				<p><label>Medium of education during school:</label>{{form.medium_of_education_during_school}}</p>
				<p><label>Language:</label>{{form.language}}</p>
				<p><label>Interests:</label>{{form.interests}}</p>
				<p><label>Select Roles:</label>{{form.translator|default_if_none:"on"}}Translator&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				     {{form.contributor|default_if_none:"off"}}Contributor&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				     {{form.evaluator|default_if_none:"off"}}Evaluator</p>
				<p><label>Groups:</label>{{form.groups|capfirst}}</p>
				<p><div style="margin-left:10px;">{{html_captcha|safe}}</div></p>
				<button name="sign_up" id="sign_up" class="signup" onclick="OnSignUp();">Create Account</button>
				<div id="g" style="visibility:hidden">{{list}}</div>
			</fieldset>
		</div>
	</div>
</form>
{% endblock %}