{% extends "layout.html" %}
{% load adminmedia %}

{% block head %}
	<link rel="stylesheet" href="/static/stylesheets/home.css" type="text/css" media="screen, projection" />
{% endblock %}

{% block script %}
<link rel="stylesheet" href="/static/stylesheets/django-admin-widgets.css" type="text/css" media="screen, projection" />

<script type="text/javascript" Language="JavaScript">
	function OnSignIn()  {
		document.login_form.action = "/login/"
	  	return true;
		}
</script>
{% endblock %}

{% block center_panel_other_content %}
<form action="." name="login_form" id="login_form" method="post" enctype="multipart/form-data" accept-charset="utf-8">
{% csrf_token %}
	<table>
	<tr>
	<td valign="top">
	<div id="signin">
		<div class="sign_in">
			<h2>Login</h2>
				<p class=""><label style="color:#595959; font-size:18px;">Username&nbsp;&nbsp;</label>{{form.username}}</p>			
				<p class=""><label style="color:#595959; font-size:18px;">Password&nbsp;&nbsp;</label>{{form.password}}</p>				
				<button name="sign_in" id="sign_in" class="signin" onclick="OnSignIn();">Login</button>
		</div>
	</div>
	</td>
	<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
	<td valign="top" style="border-left: 1px dashed #595959">
				<div id="right_panel">
				<table class="overall_leaderboard_table">
					<caption><b>Overall Leaderboard</b></caption>
					<tbody>
						{% for i in overall_leaderboard %}
						<tr>
							<td>{{i.id}}</td>
							<td>{{i.username}}</td>
							<td>{{i.overall_points_earned}}</td>
						</tr>
						{% endfor %}
			
					</tbody>
				</table>
				</br>
				<table class="overall_leaderboard_table">
					
					<caption><b>Weekly Leaderboard</b></caption>
					<tbody>
						{% for i in weekly_leaderboard%}
						<tr>
							<td>{{i.rank}}</td>
							<td>{{i.username}}</td>
							<td>{{i.points_earned_this_week}}</td>
						</tr>
						{% endfor %}
						
					</tbody>
				</table>
				</div>
			</td>
		</tr>
</table>
</form>
{% endblock %}