{% extends "layout.html" %}
{% load adminmedia %}

{% block head %}
	<link rel="stylesheet" href="/static/stylesheets/signup.css" type="text/css" media="screen, projection" />
{% endblock %}

{% block script %}
	<script type="text/javascript" Language="JavaScript">
	
		function OnSignUp() {
			document.sign_up_form.action = "/sign_up/done/"
			return true;
		}

	</script>
{% endblock %}

{% block menu %}
		<ul>
			<li title="Home"><a href="/home/">Home</a></li>
			<li title="Read about us"><a href="/about_us/">Team</a></li>
			<li title="Contact Us"><a href="/contact_us/">Contact Us</a></li>
			<li title="Create an account"><a href="/sign_up/" class="active">SignUp</a></li>
		</ul>

{% endblock %}

{% block center_panel_other_content %}
<form action="." name="sign_up_form" id="sign_up_form" method="post" enctype="multipart/form-data" accept-charset="utf-8">
{% csrf_token %}
	<div id="signup">
		<div class="sign_up">
			<h2>Create your Account</h2>
				<p><label>Email ID:</label>{{form.email}}</p>
				<p><label>Username:</label>{{form.username}}</p>
				<p><label>Password:</label>{{form.password}}</p>
				<p><label>Confirm Password:</label>{{form.confirm_password}}</p>
				<p><label>Please enter the text you see here:</label><div style="margin-left:20px;">{{form.captcha}}</div></p>
				<button name="sign_up" id="sign_up" class="signup" onclick="OnSignUp();">Create Account</button>
		</div>
	</div>
</form>
{% endblock %}